.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    color: #4A6B7B;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 18px;
}
.navbar.transparent {
  background-color: rgba(255, 255, 255, 0.9);
    /* background-color: transparent; */
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    color: #4A6B7B;
  }

.nav_hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
.mSidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #4A6B7B;
    overflow-y: auto;
}
.mSidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mSidebar ul li {
    padding: 10px 20px;
}

@keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
.navLink{
    position: relative;
    transition: all 0.3s linear;
}
.navLink:hover{
    animation: slideUp 0.3s forwards;
}